* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

#contacts-list {
  padding-left: 0;
  list-style-type: none;
  margin: auto;
  border: 2px solid black;
}

input {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 30ch;
  font-size: 0.8rem;
}

#add-contact {
  padding: 0.25rem;
  width: 5rem;
  font-weight: bold;
}

ul {
  width: max-content;
}

ul li {
  padding: 1rem;
  text-align: left;
  border: 1px solid gray;
}

ul li:nth-of-type(odd) {
  background-color: #dfdfdf;
}

button.delete-btn,
button.update-btn {
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0.25rem;
}

button.delete-btn:hover {
  color: crimson;
  border: 2px solid crimson;
}

button.update-btn:hover {
  color: royalblue;
  border: 2px solid royalblue;
}
