body {
  margin: 0;
  font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-family: monospace;
  font-weight: bold;
  margin: 0.25rem 0.5rem;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 650px) {
  #main-anecdote-container {
    min-height: 10rem !important;
  }
}
